@tailwind base;
@tailwind components;
@tailwind utilities;


.avatar {
	@apply lg:w-28 md:w-24 w-1/4 mx-auto rounded-full;
}

.title {
	@apply text-center py-5;
}

.link-container {
	@apply 2xl:w-1/3 xl:w-1/2 w-11/12 h-16 mb-3 overflow-hidden;
	@apply flex justify-center items-center relative;
	/* @apply border-solid border-2 cursor-pointer; */
	@apply rounded-xl;
	transition: background-color 0.5s ease;
}

.link-container:hover {
	@apply bg-indigo-300 dark:bg-zinc-600;
}

.link-logo {
	@apply absolute block w-auto h-8 left-3 object-contain;
	object-position: initial;
}

#links ul li {
	@apply flex justify-center items-center;
}